*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f9fc;
    color:#1f2937;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
}

.text-danger {
    color: #dc2626;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
}